<div id="message-<%= message.id %>">
  <small>
    <div class="d-flex">
      <div class="mx-2"><%= cl_image_tag message.user.photo.key, class: "avatar-bordered" %></div>
      <div class="d-flex flex-column">
        <strong><%= message.user.nickname = message.user.first_name %> </strong>
        <div class="fw-lighter"><i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i></div>
        <p><%= message.content %></p>
      </div>
    </div>
  </small>
</div>
