<div class="card-trip <%= task.need_help? ? 'orange-border' : 'green-border' %>">
  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  <div class="card-trip-infos">
    <div>
      <h2><%= task.title %></h2>
      <br>
      <p><%= task.description %></p>
    <br>
    <br>
    <p><strong>Task Category</strong>: <%= task.category.name %></p>
    <p><strong>Time</strong>: <%= task.date_time.strftime('%Y %B %e - %l:%M %p') %></p>
    <p><strong>Owner</strong>: <%= task.user.first_name %> <%= task.user.last_name %></p>
    </div>
  </div>
</div>
