<%= link_to task_path(task.id), style: "text-decoration: none; color: black;" do %>
  <div class="card-trip <%= task.need_help? ? 'pink-border' : 'green-border' %>">
    <div class="title-avatar">
        <div>
          <h2><%= task.title %></h2>
        </div>
        <div><%= cl_image_tag task.user.photo.key, class: "avatar-bordered" %></div>
    </div>
    <p><strong>Category</strong>: <%= task.category.name %></p>
    <p><strong>Time</strong>: <%= task.date_time.strftime(' %B %e, %Y - %l:%M %p') %></p>
    <p><strong>Owner</strong>: <%= task.user.first_name %> <%= task.user.last_name %></p>
    <br>
    <div class="task-description">
    <p><%= task.description %></p>
    </div>
    <br>
    <div>
      <a href="#">
        <button class="pill-button">Volunteer/Needs help</button>
      </a>
    </div>
  </div>
<% end %>
