<div class="container">
  <div class="row ">
    <div id="tasks"class="col-12 col-lg-4 m-4">
      <h5> Where can you get help?</h5>
      <% @tasks.each do |task| %>
      <% if task.need_help? %>
        <div class="card mb-4 d-flex flex-start border border-success">
<<<<<<< HEAD
          <p class="card-title" style="margin-left: 2rem;"><%= link_to task.title, task_path(task.id), class: "narrow-card-link" %></p>
          <div class="avatar-narrow-card rounded-circle border border-2 text-center"> <i class="fa-regular fa-user"></i>
=======
          <p class="card-title" style="margin-left: 2rem;"><%= link_to task.title, task_path(task.id) %></p>
          <div class="avatar-map rounded-circle border border-2 text-center"> <i class="fa-regular fa-user"></i>
>>>>>>> master
          </div>
        </div>
        <% else %>
        <div class="card mb-4 d-flex flex-start border border-warning">
<<<<<<< HEAD
          <p class="card-title" style="margin-left: 2rem;"><%= link_to task.title, task_path(task.id), class: "narrow-card-link" %></p>
          <div class="avatar-narrow-card rounded-circle border border-2 text-center"> <i class="fa-regular fa-user"></i>
=======
          <p class="card-title" style="margin-left: 2rem;"><%= link_to task.title, task_path(task.id) %></p>
          <div class="avatar-map rounded-circle border border-2 text-center"> <i class="fa-regular fa-user"></i>
>>>>>>> master
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
     <div id="map" class="col-12 col-lg-8 my-4"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      <div>

      </div>
    </div>
    <%# <% @tasks.each do |task| %>
        <%# <div class="card testimonial-card d-flex text-center" stlye=" weight: 4rem; height: 3rem;"> %>
          <%# <div class="card-up" style="background-color: #9d789b; height: 1rem;">
            </div> %>
            <%# <div class="avatar mx-auto bg-white h-25 w-25 ">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"class="rounded-circle img-fluid" />
            </div> %>
        <%# <div class="card-body mb-2 ">
          <h5 class="">Maria Smantha</h5>
          <hr/>
          <p class="dark-grey-text mt-2">
            <i class="fas fa-quote-left pe-2"></i><%= link_to task.title, task_path(task.id) %>
          <%# </p>
        </div> %>
      <%# </div>
      <% end %>
  <%# </div> %>
</div>
<%#
<div class="grid-container">
    <% @tasks.each do |task|
  <div class="card">
    <div class="card-up">
    </div>
    <div class="avatar">
    </div>


  </div>
</div> %>
