<div class="container">
  <%= simple_form_for @task, data: { controller: "flatpickr" } do |f| %>
    <h2>New Task</h2>
    <p>I want to...</p>
    <div class="radio-buttons-wrapper">
      <%= f.collection_radio_buttons :need_help, [[true, "get help"], [false, "volunteer"]], :first, :last %>
    </div>
    <%= f.association :category, include_blank: false, include_hidden: false %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :date_time, as: :string, input_html: { data: { flatpickr_target: "dateTime" } }, label: "Date and time" %>
    <%= f.input :address %>
    <%= f.button :submit, class: "btn-black-transparent-long-round" %>
  <% end %>
</div>
