<div class="container">
  <%= simple_form_for @task do |f| %>
    <h2>New Task</h2>
    <p>I want to...</p>
    <div class="radio-buttons-wrapper">
      <%= f.collection_radio_buttons :need_help, [[true, "get help"], [false, "volunteer"]], :first, :last, class: "" %>
    </div>
    <%= f.input :category, collection: Category.all %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :date_time, label: "Date and time" %>
    <%= f.input :address %>
    <%= f.button :submit, class: "btn-black-transparent-long-round" %>
  <% end %>
</div>
