
<div class="banner">

  <%= form_tag tasks_path, method: :get, class: "form-home" do %>
    <div class="row">
      <h3>Find tasks that suit you</h3>
    </div>
    <div class="row">
      <div class="d-flex justify-content-around">
        <div class="d-flex radio-btn">
          <%= check_box_tag 'need', class: "radio-btn" %>&nbsp;&nbsp;
          <%= label_tag 'need', 'I need help' %>
        </div>
        <div class="d-flex radio-btn">
          <%= check_box_tag 'can' %>&nbsp;&nbsp;
          <%= label_tag 'can', 'I can help' %>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <%= label_tag 'categories', 'Categories', class: "subtitle" %>
      <br><br>
      <%= select_tag "categories", options_from_collection_for_select(Category.all, "id", "name"), include_blank: "Choose category", class: "form-home-select" %>
      <br><br>
      <%= label_tag 'location', 'Location', class: "subtitle" %>
      <br><br>
      <%= text_field_tag :query,
        params[:query],
        class: "form-home-control",
        placeholder: "Enter your city"
       %>
    </div>
    <br><br>
    <%= button_tag(type: "submit", class: "btn btn-call-to-action") do %>
      <strong>Search</strong>
    <% end %>
  <% end %>
</div>


<div class=" row card-group">

  <div class="card" style="width: auto; height: 15rem; margin: 0">
     <%= image_tag "one.jpg" %>
    <div class="card-body">
      <h4 class="card-title">Choose if you want help or to volunteer</h4>
      <p class="card-text">Enter your location and browse people in your area who <strong>require help</strong> or are available <strong>to help you.</strong></p>
    </div>
  </div>

  <div class="card" style="width: auto; height: 15rem; margin: 0">
    <%= image_tag "two.jpg" %>
    <div class="card-body">
      <h4 class="card-title">Search for helping hands in your area</h4>
      <br>
      <p class="card-text">Browse people based on tasks and availability.</strong></p>
    </div>
  </div>

  <div class="card" style="width: auto; height: 15rem; margin: 0">
    <%= image_tag "three.jpg" %>
    <div class="card-body">
      <h4 class="card-title">Connect with others and get the task done</h4>
      <p class="card-text">Login and create a profile to live chat with another person to sort out the finer details.</p>
    </div>
  </div>
</div>

  <br>
  <br>
  <br>
  <div class="home-cards-title"><h2>Recently added tasks</h2></div>
  <div class="m-1">
    <% if @need_help_tasks.count > 8 %>
      <br>
      <%= render "tasks_carousel", tasks: @tasks, carousel_controls: "carousel1" %>
    <% end %>
  </div>
</div>
