
<div class="banner">
  <div class="banner-item7 item"></div>
  <div class="banner-item1 item"></div>
  <div class="banner-item2 item"></div>
  <div class="banner-item3 item"></div>
  <div class="banner-item4 item"></div>
  <div class="banner-item5 item"></div>
  <div class="banner-item6 item"></div>
  <div class="banner-item8 item"></div>


  <%= form_tag tasks_path, method: :get, class: "form" do %>
    <div class="row">
      <h3>Find tasks that suit you</h3>
    </div>
    <div class="row">
      <div class="d-flex justify-content-around">
        <div class="d-flex">
          <%= check_box_tag 'need' %>&nbsp;&nbsp;
          <%= label_tag 'need', 'I need help' %>
        </div>
        <div class="d-flex">
          <%= check_box_tag 'can' %>&nbsp;&nbsp;
          <%= label_tag 'can', 'I can help' %>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <%= label_tag 'categories', 'Categories' %>
      <br><br>
      <%= select_tag "categories", options_from_collection_for_select(Category.all, "id", "name"), include_blank: "All", class: "form-select" %>
      <br><br>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Type your city"
       %>
    </div>
    <br><br>
    <%= button_tag(type: "submit", class: "btn btn-primary") do %>
      Search
    <% end %>
  <% end %>
</div>

<br>
<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-lg-4">
      <div class="card-product">
        <%= image_tag "one.jpg" %>
        <div class="card-product-infos">
          <h2>Choose if you want help or to volunteer</h2>
          <p>Enter your location and browse people in your area who <strong>require help</strong> or are available <strong>to help you.</strong></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-product">
        <%= image_tag "two.jpg" %>
        <div class="card-product-infos">
          <h2>Search for helping hands in your area</h2>
          <p>Browse people based on tasks and availability.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-product">
        <%= image_tag "three.jpg" %>
        <div class="card-product-infos">
          <h2>Connect with others and get the task done</h2>
          <p>Login and create a profile to live chat with another person to sort out the finer details.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="home-cards-title"><h2>Recently added tasks</h2></div>
  <div class="m-1">
    <% if @need_help_tasks.count > 8 %>
      <br>
      <%= render "tasks_carousel", tasks: @tasks, carousel_controls: "carousel1" %>
    <% end %>
  </div>
</div>
